@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "Bebas Neue Regular";
  src: url("fonts/BebasNeueRegular.woff") format("woff");
}
@font-face {
  font-family: "Return of the Gunfighter";
  src: url("fonts/Return-of-the-Gunfighter.woff") format("woff");
}
@font-face {
  font-family: "Bebas Neue Light";
  src: url("fonts/BebasNeueLight.woff") format("woff");
}
* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  line-height: 0.8;
  font-family: "Return of the Gunfighter", sans-serif;
  font-size: 90px;
  letter-spacing: 0.06em;
}
@media (max-width: 768px) {
  h1 {
    flex-direction: column;
    font-size: 60px;
  }
}

.intro {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 30px;
  padding: 0 30px;
}
.intro .img-desktop {
  height: 150px;
  display: block;
}
.intro .img-mobile {
  height: 250px;
  margin: 30px;
  display: none;
}
@media (max-width: 768px) {
  .intro {
    flex-direction: column;
  }
  .intro .img-desktop {
    display: none;
  }
  .intro .img-mobile {
    display: block;
  }
}
.intro .motto {
  margin-top: -30px;
}
.intro .motto h4 {
  font-size: 40px;
  font-family: "Bebas Neue Regular", sans-serif;
}
@media (max-width: 768px) {
  .intro .motto h4 {
    font-size: 33px;
  }
}
.intro .motto :nth-child(1) {
  color: white;
}
.intro .motto :nth-child(2) {
  color: black;
  background-color: #EE8BB0;
  padding: 0 10px;
}
.intro .motto h4 {
  text-align: center;
  font-family: "Bebas Neue Regular", sans-serif;
  margin-bottom: 0;
}
.intro .novidades-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro .novidades-container #msgNewsletter {
  color: white;
  margin: 0;
  text-align: center;
}
.intro .novidades-container .novidades {
  display: flex;
  width: 70%;
  height: 50px;
}
.intro .novidades-container .novidades input, .intro .novidades-container .novidades button {
  border-radius: 0;
  border: none;
}
.intro .novidades-container .novidades button {
  height: 50px;
  padding: 0 30px;
  font-family: "Bebas Neue Regular", sans-serif;
  color: black;
  background-color: #DBDD48;
}
@media (max-width: 768px) {
  .intro .novidades-container .novidades {
    width: 100%;
  }
}

.imagem-fundo-01 {
  width: 100%;
}

.sobre-nos {
  height: 100vh;
  display: flex;
}
.sobre-nos .pessoas, .sobre-nos .texto-sobre {
  width: 50%;
}
.sobre-nos .pessoas {
  -o-object-fit: cover;
     object-fit: cover;
}
.sobre-nos .texto-sobre {
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sobre-nos .texto-sobre div {
  padding: 20px;
}
.sobre-nos .texto-sobre div h1 {
  color: white;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .sobre-nos .texto-sobre div h1 {
    margin-bottom: 35px;
  }
}
.sobre-nos .texto-sobre div p {
  font-family: "Bebas Neue Regular", sans-serif;
  font-size: 24px;
  color: white;
  line-height: 1.1;
}
.sobre-nos .texto-sobre div p a {
  color: #DBDD48;
  text-decoration: none;
}
@media (max-width: 768px) {
  .sobre-nos {
    flex-direction: column;
    height: auto;
  }
  .sobre-nos .pessoas, .sobre-nos .texto-sobre {
    width: 100%;
    height: 100vh;
  }
  .sobre-nos .texto-sobre {
    padding: 30px;
  }
}

.vetor-pessoas {
  width: 45%;
  margin-top: -70px;
  margin-bottom: -270px;
  z-index: 2;
  position: relative;
  margin-left: 55%;
}
@media (max-width: 768px) {
  .vetor-pessoas {
    margin: 0;
    width: 100%;
  }
}

.tocar-evento {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
}
@media (max-width: 768px) {
  .tocar-evento {
    margin: 0;
  }
}
.tocar-evento #form-inscricao {
    background-color: white;
    padding: 50px;
}
@media (max-width: 768px) {
  .tocar-evento #form-inscricao {
    margin-top: 0 !important;
  }
}
.tocar-evento #form-inscricao .header-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.tocar-evento #form-inscricao .header-form h1 {
  color: black;
}
.tocar-evento #form-inscricao .header-form p {
  line-height: 1.2;
  font-family: "Bebas Neue Regular", sans-serif;
  font-size: 24px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .tocar-evento #form-inscricao .header-form p {
    margin-bottom: 35px;
  }
}
@media (max-width: 768px) {
  .tocar-evento #form-inscricao .header-form {
    width: 100%;
  }
}
.tocar-evento #form-inscricao .card-body {
  padding: 0;
}
.tocar-evento #form-inscricao .card {
  border: none !important;
  outline: none !important;
}
.tocar-evento #form-inscricao input, .tocar-evento #form-inscricao textarea {
  border-radius: 0;
  border: black solid 1px;
}
@media (max-width: 768px) {
  .tocar-evento #form-inscricao form .one-row-mobile {
    flex-direction: column;
  }
}
.tocar-evento #form-inscricao form a {
  color: red;
}
.tocar-evento #form-inscricao form #captcha #captcha-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.tocar-evento #form-inscricao form #captcha button {
  background-color: white;
  border: solid black 1px;
}
.tocar-evento #form-inscricao form .checkbox-container {
  margin-top: 10px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.tocar-evento #form-inscricao form .checkbox-container p {
  margin: 0;
  line-height: 17px;
}
.tocar-evento #form-inscricao form .enviar {
  font-family: "Return of the Gunfighter", sans-serif;
  margin: 10px 0;
  background-color: #EE8BB0;
  outline: none;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Bebas Neue Regular", sans-serif;
  letter-spacing: 0.1rem;
  font-size: large;
}

.expor-marca {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  height: 90vh;
}
.expor-marca h1 {
  width: 80%;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .expor-marca h1 {
    margin-bottom: 20px;
  }
}
.expor-marca p {
  margin-top: 25px;
  width: 50%;
  text-align: center;
  color: white;
  font-family: "Bebas Neue Regular", sans-serif;
  font-size: 24px;
}
.expor-marca p a {
  color: #EE8BB0;
  text-decoration: none;
}
@media (max-width: 768px) {
  .expor-marca p {
    width: 80%;
  }
}

.imagem-fundo-01-1 {
  width: 100%;
}

.apoia-se {
  display: flex;
  background-color: white;
  padding: 40px 100px;
  justify-content: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  align-items: center;
  font-size: larger;
}
.apoia-se a {
  color: black;
  text-decoration: none;
}
.apoia-se .logo-jangada {
  width: 125px;
}
@media (max-width: 768px) {
  .apoia-se .logo-jangada {
    margin-bottom: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.apoia-se > div {
  align-self: flex-end;
  font-family: "Bebas Neue Regular", sans-serif;
}
.apoia-se > div > div {
  margin-top: 16px;
}
.apoia-se > div > div p {
  margin-bottom: 0;
}
.apoia-se > div > div:nth-of-type(3) {
  margin-bottom: 20px;
  font-family: "Bebas Neue Regular", sans-serif;
  font-size: 15px;
}
.apoia-se > div .logo-insta {
  width: 25px;
}
.apoia-se .apoia-se-img {
  max-width: 200px;
}
@media (max-width: 768px) {
  .apoia-se {
    display: block;
    padding: 60px;
    flex-direction: column;
    row-gap: 50px;
  }
}

.imagens-jangada {
  padding: 0;
}
.imagens-jangada img {
  width: 33.3333333333vw;
}
@media (max-width: 500px) {
  .imagens-jangada img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 500px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}/*# sourceMappingURL=index.css.map */
